MS1_PORT=8081
MS1_SERVER_PORT=8081
MS1_DB_PORT=15432

MS1_ADMIN_USER=admin
MS1_ADMIN_PASSWORD=admin-dev
MS1_JWT_SECRET=clave-dev-larga-clave-dev-larga-clave-dev-larga

MS1_BLOCKCHAIN_RPC_URL=https://rpc.ankr.com/eth_sepolia
MS1_BLOCKCHAIN_PRIVATE_KEY=0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce7c46f30d7d21715b23b2d
MS1_MS3_WEBHOOK_URL=http://host.docker.internal:3000/webhook/activos
MS1_CORS_ALLOWED_ORIGIN_PATTERNS=*
