fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
boto3==1.35.93
pydantic==2.11.5
pydantic-settings==2.9.1
python-jose[cryptography]==3.3.0
httpx==0.28.1

# IA / ML
numpy==1.26.4
Pillow==10.4.0
joblib==1.4.2
scikit-learn==1.5.2
tensorflow-cpu==2.16.2

# Testing
pytest==8.3.4
pytest-asyncio==0.25.2
moto[s3,dynamodb]==5.1.5
httpx==0.28.1
